version: '3.7'

services:
  server:
    build: .
    command: poetry run python server.py
    restart: always
    env_file:
      - .env
    environment:
      PHOTOS_DIR: $FILE_SERVICE_DIR
    volumes:
      - .:/app/
      - file_volume:/app/${FILE_SERVICE_DIR}
    ports:
      - ${FILE_SERVICE_PORT}:${FILE_SERVICE_PORT}
    container_name: async-file-service

volumes:
  file_volume: